*.7z
*.exe
*.iso
*.zip
windows_drivers/Audio/
windows_drivers/Blue/
windows_drivers/GPU/
windows_drivers/Sdcard/
windows_drivers/WLAN/
winpe/assets/HBCD_PE_dark.jpg
winpe/assets/HBCD_PE_light.jpg
winpe/cache/
